.gitignore~

delDeployment.sh
rmBuildDeploy.sh

*.class

# Package Files #
*.jar
*.war
*.ear

# Target #
/target/*

# Idea #
.idea/*
*.iml
/jon-jdg-support-app-idea-files/*

/jon-jdg-plugin-testing-support/*


